/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Body Style */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

/* Style Game area */
.wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: #3a3a3a;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Score area */
.game-details {
    color: #fff;
    font-size: 15px;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

/* Play Board */
.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: #3a3a3a;
    grid-template: repeat(40, 1fr) / repeat(40, 1fr);
}

/* Snake food */

/* Snake head */

/* Arrow Control */
.controls {
    display: flex;
    justify-content: space-around;
}

.controls i {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
 
/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .wrapper {
        width: 70vmin;
        height: 100vmin;
    }

    .game-details {
        font-size: 2rem;
        padding: 15px 27px;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
        font-size: 2rem;
    }
}

/* Media query for Large devices(laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {

}